#gradient
{
    height:300px;
    width:300px;
    border:1px solid black;
    font-size:30px;
    background: linear-gradient(to right,#ff7e00, #ffffff, #5cff00);
    background-size: 200% 200%;

    animation: Animation 5s ease infinite;
}

@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}