:root{
    --light-blue: rgb(133, 149, 195);
    --dark-blue: rgb(78, 101, 167);
    --dark-gray: #2d2d2d;
    --light-gray: #ccc;
    --red: rgb(180, 0, 0);
    --green: rgb(0, 95, 0);
}

/* CSS Reset */
html, body{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

main > * {
    margin: auto;
    text-align: center;
}

section {
    background-image:url(images/loganphoto.jpeg);
    width: 120px;
    height: 120px;
    background-size: 150px 150px;
    background-position: center -5px;
    border-radius: 360px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 10px gray;
}

section:hover{
    outline: 4px solid var(--light-blue);
    box-shadow: 6px 6px 15px gray;
}

td:not(:empty){
    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
    border: 2px solid var(--dark-blue);
}

tr:nth-child(even) td:first-child {
    background-color: var(--light-gray);
    color: black;
}

table{
    background-color: var(--light-gray);
    border: 2px solid black;
    padding: 1px;
    margin: 20px auto;
}

th{
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
}

ul{
    width: fit-content;
    margin: auto;
    list-style-type: none;
    /* list-style-image: url(images/tenor.gif); */
    /* background: url(images/tenor.gif) no-repeat left top; */
    /* height: 34px; */
}

li {
    list-style: none;
    padding: 1px 25px;
    background-image: url(images/tenor.gif);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
}

h1{
    font-size: 25pt;
    text-shadow: -2px -2px var(--light-gray), 2px 2px var(--light-blue);
    margin: .5rem 0;
}

h2{
    font-weight: 500;
    font-size: 19pt;
}
p{
    font-size: 11pt;
}
nav{
    margin-bottom: 20px;
}

summary{
    font-size: 15pt;
}

details:last-of-type{
    margin-bottom: 3rem;
}
form > input{
    display: block;
    width: 25rem;
    margin-bottom: 2px;
}

textarea{
    display: block;
    width: 25.2rem;
    height: 8rem;
    margin-bottom: 2px;
    font-family: Helvetica, sans-serif;
}

form{
    width: fit-content;
    /* padding: 5px;
    border: 1px solid ;
    border-radius: 5px; */
}

fieldset{
    width: fit-content;
    border-radius: 10px;
    text-align: left;
    /* padding-left: 100px; */
}

button {
    width: 25.6rem;
    height: 2rem;
}

div{
    background-color: var(--red);
    width: 300px;
    height: 300px;
    color: white;
    font-size: 30pt;
    text-align: center;
    line-height: 300px;
    clip-path: polygon(25% 0,75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25% );
}

div::before{
    content: "Stop";
}

div:hover{
    content: 'Go';
    background-color: var(--green);
    clip-path: circle(50%);
}

div:hover::before{
    display: inline;
    content: "Go";
}

a{
    color: var(--light-blue);
    text-decoration: none;
}

.active{
    text-decoration: underline;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}